#programme {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:0.5vw;
    width: 100%;
    height: auto;
}


.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    padding-left: 10%;
}

.item2{
    text-align: left;
}

.flexboxtxt3 {
    font-size:1.3vw;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(104, 50, 32);
}

.flexboxtxt4 {
    font-size: 2em;
}

.image2 {
    width: 40%;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    margin-bottom: 2%;
}

.image2 img{
    width: 100%;
}