body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white; 
    overflow-x: hidden;
}

.banniere {
    width: 100%;
    position:absolute;
    top: 43vw;
}

.banniere h1 {
    width: auto;
    padding-top: 5vw;
    font-size: 7vw;
    position: absolute;
    top: -35vw;
    left: 10vw;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-align: left;
}

.banniere h2 {
    width: auto;
    padding-top: 3vw;
    font-size: 3vw;
    position: absolute;
    top: -23vw;
    left: 10vw;
    color: white;
    font-family: 'Circular Std Bold',sans-serif;
    text-align: left;
}
.Button_banniere {
    position: absolute; 
        top: -10vw;
        left: 10vw;
    font-size: 1vw;
}

.Button_banniere a:link {
        display: inline-block;
        background-color: white;
        border-radius: 10px;
        border: 10px white;
        text-decoration: none;
        color: rgb(179, 110, 66);
        text-align: center;
        font-size: auto;
        padding: 1vw;
        border-radius: 45px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: auto;
        transition: all 0.5s;
        cursor: pointer;
        }

.Button_banniere a:visited{
    color:rgb(179, 110, 66);
}

.voiture {
    position: absolute; top: -25vw; left: 35vw;
    width: 60vw;
    height: 60vw; 
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:3vw;
    text-align: center;
}

.blocgris3 {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: #ECECEC;
    height: auto;
    width: 100%;
    border-bottom: black;
    box-shadow:0 0 0.5vw #555;
}

.blocgris4 {
    width: 100%;
    height: 18%;
    background: #ECECEC;
    border-bottom: black;
    box-shadow: 0px 3px 0.4vw #555;
}


.container3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: baseline;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.container4 {
    width: 700px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.bloc1 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 55px;
    border: solid;
    border-color: rgb(245,245,245);
    background-color: white;
    padding: 50px;
    width: 15%;
    text-align: center;
    height: 80%;
}

.bloc2 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 55px;
    border: solid;
    border-color: rgb(245,245,245);
    background-color: white;
    padding: 50px;
    width: 15%;
    height: 80%;
    text-align: center;
    align-items: flex-start;
    margin: 5%;
}

.bloc3 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 55px;
    border: solid;
    border-color: rgb(245,245,245);
    background-color: white;
    padding: 50px;
    width: 15%;
    height: 80%;
    text-align: center;
    align-items: flex-start;
}

.flexboxdiv{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    vertical-align: middle;
    margin: auto;
}

.flexboxtxt5{
    width: 100%;
    color: #C06B35;
    font-size: 1.4em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0;
}

.flexboxtxt6{
    width: 100%;
    color: #C06B35;    
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
}

.Button2 {
    display: block;
    margin: auto;
    margin-bottom: 2%;
}

.Button2 a:link {
    display: block;
    background-color: #C06B35;
    border-radius: 11px;
    border: 15px rgb(104, 50, 32);
    text-decoration: none;
    color: rgb(245,245,245);
    padding: 15px;
    border-radius:65px;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
}

.Button2 a:visited{
    color: white;
}

.containerteam {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
}

.containerteam figure {
    display: block;
    justify-content: center;
    margin: 1%;
}

.containerteam figure img{
    width: 50%;
    display: block;
    margin: auto;
}

.containerteam figure figcaption{
    margin: 0;
}

.containerteam figure figcaption p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(104, 50, 32);
    margin: 0;
    padding: 0;
}

.textteam {
    display: block;
}

.textteam p {
    text-align: center;
    margin: 0;
    padding-inline: 20%;
}

h6 {
    font-size:1vw;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(104, 50, 32);
    margin: 1%;
}

#lequipe {
    margin-bottom: 6%;
}

#scrollUp {
    position: fixed;
    bottom : 10px;
    right: -100px;
    opacity: 0.5;
}

footer {
    display: flex;
    width: 100%;
    height: 30%;
    position: relative; top:50px;
    justify-content: center;
    padding: 5px;
    background-color: rgb(52, 25, 16);
    color: white;
    z-index: 9999;
}

ul{
    list-style-type: none;
    line-height: 2.5em;
}

.imagefoot{
    position: relative; right: 15%; top: 45px;
}

.legendfoot{
    position: relative; right: 24%; top: 210px;
    height: 5%;
}

.figcaption{
    position: relative; top: 20px;
}

.firstlist{
    position: relative; right: 5%;
}

.firstlist a:link{
    color: white;
}

.firstlist a:visited{
    color: white;
}

.secondlist{
    position: relative; left: 5%;
}

.thirdlist{
    position: relative; left: 10%; top: 25px;
    text-decoration: none;
}

.containerfoot {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative; top: 40px;
    justify-content: space-between;
    /* background: aqua; */
    align-items: center ;
}

.flexboxfootfacebook{
    position: relative; left: 25%;
}

.flexboxfootlinkedin{
    position: relative; left: 50%;
}

.flexboxfootleetchi{
    position: relative; left: 75%;
}

#progress{
	background-color: rgb(104, 50, 32);
	height: 2.5px;
	width: 0;
	position: fixed;
	top: 100px;
	left: 0;
	z-index: 9999;
}

.Button3 a:link{
    display: inline-block;
    background-color: rgb(104, 50, 32);
    border-radius: 11px;
    border: 15px rgb(104, 50, 32);
    text-decoration: none;
    color: rgb(245,245,245);
    text-align: center;
    padding: 15px;
    border-radius:65px;
    font-weight: bold;
    font-size: 1.1em;
    position: relative; left: 33%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;    
}

.Button3 a:visited {
    color: rgb(245,245,245);
}
